@use "./data";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .h-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .h-container .header-left .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .h-container .header-left .app a {
  font-size: 130%;
  text-decoration: none;
}

body .h-container .header-left .app img {
  width: 20%;
}

body .h-container .header-right .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .h-container .header-right .order li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 130%;
  text-decoration: none;
}

body .h-container .header-right .order li a {
  text-decoration: none;
}

body .h-container .header-right .order img {
  width: 20%;
}

@media screen and (max-width: 376px) {
  body .h-container .header-right .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

body .banner {
  background-image: url("zomato/bg.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

body .banner .search-restaurant #logo {
  width: 12%;
  margin-left: 44%;
  margin-top: 8%;
  margin-bottom: 1%;
}

body .banner .search-restaurant p {
  font-size: 30px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  width: 80%;
  color: white;
}

body .banner .search-restaurant .search-cntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .banner .search-restaurant .dropdown {
  width: 18%;
  height: 30px;
  padding: 1%;
  height: 40px;
  font-size: 110%;
  margin-bottom: 5%;
}

body .banner .search-restaurant #search-rest {
  width: 50%;
  height: 30px;
  padding: 1%;
  height: 40px;
  font-size: 110%;
}

body .banner .search-restaurant #search-btn {
  width: 15%;
  height: 40px;
  background-color: #e23744;
  color: white;
  border: none;
  font-size: 110%;
}

@media screen and (max-width: 376px) {
  body .banner {
    background-image: url("zomato/bg.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    height: 400px;
  }
  body .banner .search-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .banner .search-restaurant #logo {
    width: 20%;
    margin: auto;
    margin-top: 10%;
  }
  body .banner .search-restaurant p {
    font-size: 180%;
    text-align: center;
    margin: 30px 10% 20px 10%;
    width: 80%;
    color: whitesmoke;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  body .banner .search-restaurant .search-cntr {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30px;
    margin-top: 10%;
    margin-bottom: 3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .banner .search-restaurant .search-cntr .dropdown {
    width: 100%;
    font-size: 100%;
    padding: 2%;
    margin-bottom: 3%;
  }
  body .banner .search-restaurant .search-cntr #search-rest {
    width: 100%;
    font-size: 90%;
    padding: 2%;
    margin-bottom: 3%;
  }
  body .banner .search-restaurant .search-cntr #search-btn {
    width: 100%;
    background-color: #ec4444;
    padding: 2%;
    color: white;
    font-size: 120%;
  }
}

body .bg-grey {
  background-color: #ccc7c7;
  margin-top: 0%;
}

body .bg-grey .zomaland {
  width: 60%;
}

body .bg-grey .zomaland img {
  width: 100%;
  margin-top: 10%;
  margin-left: 5%;
}

body .bg-grey .collections {
  width: 60%;
  margin-left: 2.5%;
}

body .bg-grey .collections .written-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .bg-grey .collections .written-content h1 {
  margin-bottom: 0%;
}

body .bg-grey .collections .written-content p {
  font-size: 110%;
  margin-top: 0%;
}

body .bg-grey .collections .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 3%;
}

body .bg-grey .collections .card-container .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .bg-grey .collections .card-container .card-1 .photo {
  height: 100%;
  width: 50%;
}

body .bg-grey .collections .card-container .card-1 .photo img {
  width: 100%;
}

body .bg-grey .collections .card-container .card-1 .photo-content {
  width: 90%;
  padding: 2%;
  height: 91%;
  background-color: white;
}

body .bg-grey .collections .card-container .card-1 .photo-content h2 {
  margin-top: 0%;
  margin-bottom: 0%;
}

body .bg-grey .collections .card-container .card-1 .photo-content p {
  margin-top: 0%;
}

body .bg-grey .collections .card-container .card-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .bg-grey .collections .card-container .card-2 .photo {
  width: 50%;
}

body .bg-grey .collections .card-container .card-2 .photo img {
  width: 100%;
}

body .bg-grey .collections .card-container .card-2 .photo-content {
  width: 90%;
  padding: 2%;
  background-color: white;
  height: 91%;
}

body .bg-grey .collections .card-container .card-2 .photo-content h2 {
  margin-top: 0%;
  margin-bottom: 0%;
}

body .bg-grey .collections .card-container .card-2 .photo-content p {
  margin-top: 0%;
}

body .bg-grey .collections .card-container .card-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .bg-grey .collections .card-container .card-3 .photo {
  width: 50%;
}

body .bg-grey .collections .card-container .card-3 .photo img {
  width: 100%;
}

body .bg-grey .collections .card-container .card-3 .photo-content {
  background-color: white;
  width: 90%;
  height: 91%;
  padding: 2%;
}

body .bg-grey .collections .card-container .card-3 .photo-content h2 {
  margin-top: 0%;
  margin-bottom: 0%;
}

body .bg-grey .collections .card-container .card-3 .photo-content p {
  margin-top: 0%;
}

body .bg-grey .collections .card-container .card-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .bg-grey .collections .card-container .card-4 .photo {
  width: 50%;
}

body .bg-grey .collections .card-container .card-4 .photo img {
  width: 100%;
}

body .bg-grey .collections .card-container .card-4 .photo-content {
  background-color: white;
  width: 90%;
  height: 80%;
  padding: 2%;
}

body .bg-grey .collections .card-container .card-4 .photo-content h2 {
  margin-top: 0%;
  margin-bottom: 0%;
}

body .bg-grey .collections .card-container .card-4 .photo-content p {
  margin-top: 0%;
}

body .bg-grey .order-container {
  width: 30%;
  position: absolute;
  top: 95%;
  right: 3%;
}

body .bg-grey .order-container .order-food-online {
  padding: 0%;
}

body .bg-grey .order-container .order-food-online h1 {
  margin-top: 0%;
  margin-bottom: 0%;
}

body .bg-grey .order-container .order-food-online p {
  margin-top: 0%;
  margin-bottom: 0%;
}

body .bg-grey .order-container .widget {
  background-color: white;
  width: 100%;
  height: 300px;
  margin-top: 0%;
}

body .bg-grey .order-container .widget h4 {
  padding: 2%;
  font-size: 130%;
}

body .bg-grey .order-container .widget .search-del {
  margin-left: 10px;
  width: 70%;
  font-size: 100%;
  height: 40px;
}

body .bg-grey .order-container .widget .detect-btn {
  height: 40px;
  width: 20%;
  font-size: 100%;
}

body .bg-grey .order-container .widget .order-btn {
  margin: 15px auto 10px 10px;
  width: 90%;
  height: 40px;
  background-color: green;
  color: white;
  font-size: 20px;
}

body .bg-grey .order-container .widget p {
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

body .bg-grey .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3%;
  width: 100%;
}

body .bg-grey .categories .quick-search #cat-title, body .bg-grey .categories .quick-search #cat-subtitle {
  line-height: 0.1;
}

body .bg-grey .categories .quick-search .category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 2%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .bg-grey .categories .quick-search .category-list #item-card {
  margin-right: 1%;
}

body .bg-grey .categories .quick-search .category-list li {
  margin-top: 1%;
  text-decoration: none;
  list-style-type: none;
  margin-left: 5%;
}

body .bg-grey .categories .quick-search .category-list img {
  width: 50%;
}

body .bg-grey .localities {
  padding: 3%;
}

body .bg-grey .localities #loc-subtitle {
  color: grey;
  margin-top: -1%;
}

body .bg-grey .localities .locality-list {
  padding: 1%;
  background-color: white;
  list-style-type: none;
}

body .bg-grey .localities .locality-list li {
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2;
}

body footer {
  background-color: #161515;
  color: grey;
  width: 100%;
  padding: 3%;
}

body footer img {
  width: 8%;
}

body footer select {
  background-color: black;
  color: white;
  float: right;
  width: 20%;
  height: 35px;
}

body footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  line-height: 0.5;
  margin-top: 3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body footer .footer-wrapper .about-zomato li {
  font-size: 25px;
  margin-bottom: 20px;
}

body footer .footer-wrapper .about-zomato p {
  font-size: 15px;
}

body footer .footer-wrapper .foodies li {
  font-size: 25px;
  margin-bottom: 20px;
}

body footer .footer-wrapper .foodies p {
  font-size: 15px;
}

body footer .footer-wrapper .restaurants li {
  font-size: 25px;
  margin-bottom: 20px;
}

body footer .footer-wrapper .restaurants p {
  font-size: 15px;
}

@media screen and (max-width: 376px) {
  body .bg-grey {
    background-color: #c7c0c0;
    width: 100%;
  }
  body .bg-grey .zomaland {
    display: none;
  }
  body .bg-grey .collections {
    width: 100%;
  }
  body .bg-grey .collections .written-content {
    width: 100%;
  }
  body .bg-grey .collections .written-content p {
    line-height: 1;
  }
  body .bg-grey .collections .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .bg-grey .collections .card-container .card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
  }
  body .bg-grey .collections .card-container .card-1 .photo {
    width: 35%;
  }
  body .bg-grey .collections .card-container .card-1 .photo img {
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-1 .photo-content {
    width: 60%;
    padding: 2%;
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
  }
  body .bg-grey .collections .card-container .card-2 .photo {
    width: 35%;
  }
  body .bg-grey .collections .card-container .card-2 .photo img {
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-2 .photo-content {
    width: 60%;
    padding: 2%;
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
  }
  body .bg-grey .collections .card-container .card-3 .photo {
    width: 35%;
  }
  body .bg-grey .collections .card-container .card-3 .photo img {
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-3 .photo-content {
    width: 60%;
    padding: 2%;
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .bg-grey .collections .card-container .card-4 .photo {
    width: 35%;
  }
  body .bg-grey .collections .card-container .card-4 .photo img {
    height: 120px;
  }
  body .bg-grey .collections .card-container .card-4 .photo-content {
    width: 60%;
    padding: 2%;
    height: 120px;
  }
  body .bg-grey .order-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2%;
    margin-top: 2%;
    width: 100%;
    position: static;
  }
  body .bg-grey .order-container .order-food-online {
    font-size: 120%;
  }
}
/*# sourceMappingURL=main.css.map */
